<head>
  <title>Change an entry</title>
</head>
<body>
  <form id="new-expense" method="post">
    <h1>Add an entry for </h1>
    <p><label>Comment</label><input type="text" size="100" name="comment" id="comment"></p>
    <p><label>Amount</label><input type="text" size="10" name="amount" id="amount"></p>
    <p><label>Type of expense</label><input type="text" size="20" name="category" id="category"></p>
    <p>
      <input type="radio" name="type" value="income">Income<br>
      <input type="radio" name="type" value="expense" checked="checked">Expense<br>
    </p>

    <p><input type="submit" value="Accept &rarr;"></p>
  </form>
  <p id="result"></p>
  <input type="button" value="Index &rarr;" id="back">
</body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js?1.2.6"></script>
  <script src="/_utils/script/jquery.couch.js?0.8.0"></script>
  <script src="/_utils/script/jquery.cookies.js"></script>
  <script src="<%= assets %>/vendor/couchapp/jquery.couchapp.js"></script>
  <script type="text/javascript" charset="utf-8">

  $.CouchApp(function(app) {
    var dbname = document.location.href.split('/')[3];
    var design = unescape(document.location.href).split('/')[5];
    var DB = $.couch.db(dbname);
    var d = new Date();
    var date = [ d.getFullYear(), d.getMonth() + 1, d.getDate() ];
    var editfrom = app.docForm("form#new-expense", {
      id: <%= docid %>,
      fields : [ "comment", "amount", "category", "type" ],
      template : { "date" : date, "amount" : 0, "type" : "expense" },
      beforeSave  : function(doc) {
        var b = Number(doc.amount);
        if (b == "NaN") throw ({error : "The amount is not a number"})
        else doc.amount = b;
        doc.category = doc.category.toLowerCase();
      },
      success : function( response ) {
        $("#result").text("Success");
        app.go("<%= assets %>/index.html");
      }
    });
    $("#back").click( function () {
      app.go("<%= assets %>/index.html");
    });
  });
  </script>
</html>
